
@import url('https://fonts.googleapis.com/css?family=Exo+2');

*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color:white;

}
li{
	list-style: none;
}
body{
	font-family: "Exo 2";

}
header{
	z-index: 10;
	width: 100%;
	background: rgba(0, 0, 0, 0.45);
	display: flex;
	position: fixed;

}

nav{
	margin-top: 33px;
	margin-left: 6%;
	margin-bottom: 38px;
	float: right;
	
}
.topnav a{
	color: white;
	text-align: center;
	padding: 20px 40px;
	font-size: 24px;
	font-weight: 600;
	font-family: 'Exo 2', sans-serif;
}
.topnav a:hover{
	border-bottom: 3px solid #fcac45;
}
.topnav .icon{
	display: none;
	font-size:35px;
	
}

main{
	display:flex;
	flex-direction: column;
	width:100%;
}
main .main_welcome{
	
	background-image: url(image/logo.jpg);
	background-size: cover;
	height: 100%;
	background-position: top center;
	text-align: center;
	line-height: 36px;
	font-size: 21px;
	font-weight: 400;
	color:white;
	text-transform: uppercase;

}
.black-wall { 
	height: 100%;
	background: rgba(0, 0, 0, 0.22);
}

.welcome-text{ 
	height: 55px;
	font-size: 70px;
	padding-top: 735px;
	letter-spacing:1.5;
	border-bottom: 15px solid white;

}
.logo { 
	width: 420px;
	margin-top: 350px;
	
	padding: 15px;

}

.main_about{
	margin-top:40px;
	text-align: center;
	font-size: 25px;
	padding-bottom: 150px;
}
.main_about h1{
	font-size: 50px;
	padding:21px;
	text-align: center;
	
}
.about_pic{
	padding-right: 8%;
	padding-left: 8%;
}
.about-image{
	width: 399px;
	display: inline-block;
	padding:30px;
	padding-right: 0;
	padding-left: 0;
	margin-top:40px;
	height: auto;
	font-size: 22px;
	font-weight: 500;
}
.about-image img {
	max-height: 400px;
	width: auto;
	padding: 30px;

}

.truck img {
	width: 170px;
}

.contacts{
	text-align: center;
	font-size: 24px;
	padding: 200px 0 295px 0;
	background-image: url(image/contacts.png);
	background-size:cover;
}
.block_contacts{
	max-width: 600px;
	background-color: rgba(51,153,204,0.5);
	padding:30px;
	margin-left: auto;
	margin-right: auto;
}
.form_contacts{
	color:white;
	font-size: 36px;
}
.form_contacts  p, .form_contacts h1{
	padding: 28px 30px 0 0 ; 
	text-align: center;
}
.form_contacts p img{
	padding-right: 30px; 
}
.form_contacts h1{
	font-size:34px;
}
.form_contacts input{
	width:590px;
	height: 58px;
	font-size: 29px;
	text-align: center;
}
.block_contacts .button{
	margin-left: 3px;
}

.stock{
	text-align: center;
	font-size: 24px;
	margin-top:200px;
	padding-bottom: 100px;
	height: 700px;
} 

.button {
	/*background-color: rgb(50, 153, 204);*/

	border:2px solid white;
	padding: 15px;
	margin:12px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 5px;
	color:white;
	font-size: 22px;
	font-weight: 500;
	cursor: pointer;
}
.button:hover {
	color:black;
	background-color: white;
}



.right_corner {
	width: 100%;
	padding:0;
	display: none;
	
}
.right_corner img{
	float: right;
	width: 400px;
		

}
.stock-content {
	
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.stock-content .button:hover{
	background-color: rgba(51, 153, 204, 1);
	color:white;
}
.stock-content h2{
	font-size: 25px;
	text-align: center;
	font-weight: 400;

}
.stock img{
	padding:60px;
	margin-top:20px;
	flex-basis: : 270px;
}
.stock h1{
	text-align: center;
}
.left h2 {
	margin-top:24px;
}

/* production */


.milk, .available{
	border-left:3px solid white;
	margin-top:10px;
	
}
.milk .button{
	margin-top: 34px;
}
.available .button{
	margin-top: 34px;
}

.mix img {
	height: 360px;
	margin-top: 10px;
}
.start img {
	height: 350px;
	margin-top: 20px;
}
.mix .button, .start .button {
	width: 270px;
	margin: auto;
	margin-top:20px;
}

.about_mix{
	cursor: pointer;
}
main .products {
	text-align: center;

	background-image: url(image/prod_back.png);
	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 100%;
	padding-bottom: 200px;
}
.title-prod {
	margin-right: 500px
}
.start , .mix {
	
	padding-left:2%;
	padding-right: 8%;
	width: 40%;
	padding-top: 70px; 
	display: block;
	float:left;

}
.mix-block, .start-block, .control {
	display: none;

}
.start p, .mix p {
	color:white;
	font-size: 19px;
	text-align: center;
	font-weight: 400;
	line-height: 22px;
	letter-spacing:1.5;

}
.about_start{
	cursor: pointer;
}
.products h1 {

	margin-top: 25px;
	color:white;
	font-size: 50px;
}

.start_center {
	display: flex;
	flex-wrap:nowrap;
	margin-top: 40px;
	justify-content: center;
}


.about_start_info {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
}
.start_left h3 img {
	width: 65%;
	text-align: center;
	position: relative;
	left:16%;
	margin-bottom: 10px;
}
.start_left h3 {
	color:white;
	width: 400px;
	
	font-size: 23px;
	font-weight: 400;
}

.about_start_info .button{
	
	width: 300px;
	margin:auto;
	margin-top: 20px;
}
.about_start .button-icon , .about_mix .button-icon {
	background-image: url(buttons/add-info.png);
}
.about_start:hover .button-icon{
	background-image: url(buttons/add-info-black.png);	
}
.about_mix:hover .button-icon{
	background-image: url(buttons/add-info-black.png);	
}

.lower_info{
	margin-top:0px;
	padding:0px;
}

.table_left img , .composition img {
	margin: auto;
	max-width: 1160px;

}
.composition img {
	padding-left:50px;
	padding-bottom: 10px;
}
.lower_table img {
	margin: auto;
	max-width: 1100px;
	padding-right:60px;
}
.button-icon{
	background-image: url(buttons/button-plus1.png);
	width: 30px;
	height: 30px;
	float:left;
} 
.hide_about .button-icon {
	background-image: url(buttons/close-w.png) ;
	width: 26px;
	height: 26px;
}
.hide_about:hover .button-icon {
	background-image: url(buttons/close-b.png) ;
	width: 26px;
	height: 26px;
}
.create_product:hover .button-icon{
	background-image: url(buttons/button-plus1-black.png);
}
.create_mix:hover .button-icon{
	background-image: url(buttons/button-plus1-black.png);
}
.create_start:hover  .button-icon{
	background-image: url(buttons/button-plus1-black.png);
}



.create_product p {
	margin-top:4px;
	margin-right: 10px;
	float:right;

}

.lower_info .button{
	width: 45%;
	margin-left:25%;
	text-align: center;

}
.lower_info a{
	color:black;
}


.about_start_info h2 {
	color:white;
	font-size: 38px;
	font-weight: 400;
}
.about_start_info h3 {
	color: white;
	font-size: 28px;
	margin-top:10px;
	font-weight: 400;
}
.about_start_info table td {
	color:white;
	font-size: 22px;
	text-align: left;
}
.center_info p {
	color:white;
	text-align: left;
	font-size: 25px;
	padding:10px;
	font-weight: 400;
}
 .about_start_info .additional-info {
	font-size: 20px;
	margin-left:20px;

}
.add_res {
	background-color: rgb(51, 153, 204);
	color: white; 
	

	text-align: center;
	margin-bottom:30px;
	margin-top:50px;

	
}
.add_res table{
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

.add_res td{
	color:white;
	padding:10px;
	font-size: 19px;
	border-top: 3px solid white;
	text-align: center;

}
.add_res h3 {
	padding:10px;
	font-size: 29px;
	font-weight: 400;
}
.add_res{
	width: 90%;
	margin-left:5%;

}
.add_res .button{
	max-width: 400px;
	margin:auto;
	margin-top:30px;
}

.add_res .button:hover{
	background-color: white;
	color:black;
}

/* production */
#wrap{
	display: none;
	opacity: 0.8;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
	background-color: rgba(1, 1, 1, 0.725);
	z-index: 100;
	overflow: auto;
}

#window{
	width: 700px;
	height: 800px;
	margin: 100px auto;
	display: none;
	background: #fff;
	z-index: 200;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;

}

.close{
	margin-left: 670px;
	margin-top: 1px;
	cursor: pointer;
}
.pop-up td{
	font-size: 20px;
	font-weight: 100px;
	
}
.popup input{

	margin-left: 200px;
	height: 50px;
	width: 200px;

}
.popup  .button{
	font-size: 20px;
	width:100px;
}
#pop-up-button{
	background-color: rgb(51, 153, 204);
	color:white;
}


.stock .left, .stock .right { 
	padding-left:100px; 
	padding-right: 100px; 
}
.left .button, .right .button {
	color:black;
}
 .lower_info a .start_download {
	color:black;
}
 .lower_info a .start_download:hover {
	background-color: rgb(51, 153, 204);
	color:white;
}

