
@import url('https://fonts.googleapis.com/css?family=Exo+2');

*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color:white;

}
img {border: 0}
li{
	list-style: none;
}
body{
	font-family: "Exo 2";

}
header{
	z-index: 10;
	width: 100%;
	background: rgba(0, 0, 0, 0.45);
	display: flex;
	position: fixed;

}

nav{
	margin-top: 33px;
	margin-left: 6%;
	margin-bottom: 38px;
	float: left;
	
}
.topnav a{
	color: white;
	text-align: center;
	padding: 20px 40px;
	font-size: 24px;
	font-weight: 600;
	font-family: 'Exo 2', sans-serif;
}
.topnav a:hover{
	border-bottom: 3px solid #fcac45;
}
.topnav .icon{
	display: none;
	font-size:35px;
	
}

main{
	display:flex;
	flex-direction: column;
	width:100%;
}
main .main_welcome{
	
	background-image: url(image/logo.jpg);
	background-size: cover;
	height: 100%;
	background-position: top center;
	text-align: center;
	line-height: 36px;
	font-size: 21px;
	font-weight: 400;
	color:white;
	text-transform: uppercase;

}
.black-wall { 
	height: 100%;
	background: rgba(0, 0, 0, 0.22);
}

.welcome-text{ 
	height: 55px;
	font-size: 70px;
	padding-top: 735px;
	letter-spacing:1.5;
	border-bottom: 15px solid white;

}
.logo { 
	width: 420px;
	margin-top: 350px;
	padding: 15px;

}

.main_about{
	margin-top:40px;
	text-align: center;
	font-size: 25px;
	padding-bottom: 150px;
}

.main_about h1{
	font-size: 50px;
	padding:21px;
	text-align: center;
	
}
.about_pic{
	padding-right: 8%;
	padding-left: 8%;
}
.about-image{
	width: 399px;
	display: inline-block;
	padding:30px;
	padding-right: 0;
	padding-left: 0;
	margin-top:40px;
	height: auto;
	font-size: 22px;
	font-weight: 500;
}
.about-image img {
	max-height: 400px;
	width: auto;
	padding: 30px;

}
